.container-countdown {
    justify-content: center;
    height: 100%;
}


/*TITLE*/

.container-countdown h3 {
    width: 100%;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    color: var(--white);
    word-wrap: break-word;
}


/*ACTIONS*/

.container-countdown .actions,
.container-countdown .actions .group-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-countdown .actions .action {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    overflow: hidden;
    border-radius: 50%;
    /* transition: all .2s ease-in-out; */
}

.container-countdown .actions .action:hover {
    overflow: visible;
}

.container-countdown .actions .btn-circle {
    margin-bottom: .5rem;
}

.container-countdown .actions .action p {
    position: absolute;
    visibility: visible;
    top: 100%;
    font-size: clamp(.25rem, 2vw, 1.6rem);
    color: var(--white);
}

.container-countdown .actions [data-type="adicionar"].disabled,
.container-countdown .actions .group-actions.disabled {
    display: none;
}


/*FLIP*/

.container-countdown .flip-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.container-countdown .flip-group .flip-clock {
    width: 20%;
    height: clamp(6rem, 20vw, 20rem);
    font-size: clamp(2rem, 10vw, 13rem);
    font-weight: 500;
    line-height: 0;
    perspective: 100rem;
}

.container-countdown .flip-group .flip-clock:not(div:nth-child(3)) {
    margin-right: 2%;
}

.flip-group .flip-clock .digit {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.flip-group .flip-clock .digit::before,
.flip-group .flip-clock .digit::after {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.flip-group .flip-clock .digit::before {
    content: attr(data-digit-before);
    bottom: 0;
    align-items: flex-start;
}

.flip-group .flip-clock .digit::after {
    content: attr(data-digit-after);
    top: 0;
    align-items: flex-end;
}

.flip-group .flip-clock .digit .card {
    position: relative;
    width: 100%;
    height: 50%;
    transform-origin: bottom;
    transform: rotateX(0);
    transform-style: preserve-3d;
    z-index: 1;
    transition: transform .7s ease-in-out;
}

.flip-group .flip-clock .digit .card.flipped {
    transform: rotateX(-180deg);
}

.flip-group .flip-clock .digit .card .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    backface-visibility: hidden;
}

.flip-group .flip-clock .digit .card .card-face-front {
    align-items: flex-end;
}

.flip-group .flip-clock .digit .card .card-face-back {
    align-items: flex-start;
    transform: rotateX(-180deg);
}

.digit::after,
.card-face.card-face-front {
    background-color: var(--orange);
}

.digit::before,
.card-face.card-face-back {
    background-color: var(--orange);
}

.flip-group .flip-clock .digit .divider {
    position: absolute;
    width: 100%;
    height: clamp(.1rem, 0.5vw, .3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.flip-group .flip-clock,
.flip-group .flip-clock .digit .card,
.flip-group .flip-clock .digit::after,
.flip-group .flip-clock .digit .card-face.card-face-front {
    border-radius: .8rem .8rem 0 0;
}

.flip-group .flip-clock .digit::before,
.flip-group .flip-clock .digit .card-face.card-face-back {
    border-radius: 0 0 .8rem .8rem;
}

.flip-group .flip-clock .digit .divider .divider-line {
    width: 100%;
    height: 100%;
    background-color: var(--black);
}


/*MODAL*/

.container-countdown .modal.active {
    visibility: visible;
    opacity: 1;
}

.container-countdown .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: var(--white);
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}

.container-countdown .modal .container {
    width: min(40rem, 90%);
    height: auto;
    background-color: var(--black-light);
}

.container-countdown .modal .container .modal-header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: clamp(1.75rem, 4vw, 2rem);
    background-color: var(--orange);
}

.container-countdown .modal .container .modal-content {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

form .row {
    display: flex;
}

form .row:not(:last-child) {
    margin-bottom: 2rem;
}

form .row .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form .row .form-group+.form-group:not(:last-child) {
    margin: 0 3%;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    padding: 1.2rem;
    font-size: clamp(1.4rem, 2vw, 2rem);
    color: var(--white);
    border: .1rem solid transparent;
    border-radius: .4rem;
    outline: none;
    background-color: var(--black-medium);
    transition: border-color .2s ease-in;
}

.form-group input[type="number"]:focus,
.form-group input[type="text"]:focus,
.form-group select:focus {
    border-color: var(--orange);
}

.form-group select option:nth-child(2n) {
    background-color: var(--black-light);
}

.form-group input[type="number"],
.form-group input[type="text"] {
    font-size: clamp(1.4rem, 2vw, 2rem);
    background-color: var(--black-medium);
}

.modal .close,
.form-group select,
.button,
.footer input {
    cursor: pointer;
}

form .row .form-group label {
    margin-bottom: .8rem;
}

form .row .form-group .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border: 0 .1rem solid transparent;
    border-radius: .4rem;
}

.form-group .button-group .button {
    margin: 0 auto;
    color: var(--white);
}

form .row .form-group .button-group input {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
}

form .row .form-group.footer {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

form .footer input {
    padding: 1rem 2rem;
    font-weight: 500;
    border-radius: .4rem;
    margin: 3% 0;
    color: var(--black);
    transition: filter .2s ease-in-out;
}

form .footer input:hover {
    filter: brightness(1.2);
}

form .footer input:nth-child(1) {
    background-color: var(--grey);
}

form .footer input:nth-child(2) {
    margin-left: 3%;
    background-color: var(--orange);
}


/*-->Alterando as cores de fundo e texto dos campos com autocomplete*/

input:-webkit-autofill {
    box-shadow: 0 0 0 3rem var(--black-medium) inset;
    -webkit-box-shadow: 0 0 0 3rem var(--black-medium) inset;
    -webkit-text-fill-color: var(--white) !important;
}