.container-countdown {
    justify-content: center;
    height: 100%;
    /* background-color: blueviolet; */
}


/* .container-countdown h3 {
    background-color: burlywood; 
} */

.container-countdown .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chartreuse; */
}

.container-countdown .actions .btn-circle {
    width: clamp(3.5rem, 6vw, 6rem);
    height: clamp(3.5rem, 6vw, 6rem);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: var(--white);
    background-color: transparent;
}

.container-countdown .flip-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}

.container-countdown .flip-group .flip-clock {
    width: 20%;
    height: clamp(6rem, 20vw, 20rem);
    font-size: clamp(2rem, 10vw, 13rem);
    font-weight: 500;
    line-height: 0;
    perspective: 100rem;
}

.container-countdown .flip-group .flip-clock:not(div:nth-child(3)) {
    margin-right: 2%;
}

.flip-group .flip-clock .digit {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.flip-group .flip-clock .digit::before,
.flip-group .flip-clock .digit::after {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.flip-group .flip-clock .digit::before {
    content: attr(data-digit-before);
    bottom: 0;
    align-items: flex-start;
}

.flip-group .flip-clock .digit::after {
    content: attr(data-digit-after);
    top: 0;
    align-items: flex-end;
}

.flip-group .flip-clock .digit .card {
    position: relative;
    width: 100%;
    height: 50%;
    transform-origin: bottom;
    transform: rotateX(0);
    transform-style: preserve-3d;
    z-index: 1;
    transition: transform .7s ease-in-out;
}

.flip-group .flip-clock .digit .card.flipped {
    transform: rotateX(-180deg);
}

.flip-group .flip-clock .digit .card .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    backface-visibility: hidden;
}

.flip-group .flip-clock .digit .card .card-face-front {
    align-items: flex-end;
}

.flip-group .flip-clock .digit .card .card-face-back {
    align-items: flex-start;
    transform: rotateX(-180deg);
}

.digit::after,
.card-face.card-face-front {
    background-color: var(--orange);
}

.digit::before,
.card-face.card-face-back {
    background-color: var(--orange);
}

.flip-group .flip-clock .digit .divider {
    position: absolute;
    width: 100%;
    height: clamp(.1rem, 0.5vw, .3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.flip-group .flip-clock,
.flip-group .flip-clock .digit .card,
.flip-group .flip-clock .digit::after,
.flip-group .flip-clock .digit .card-face.card-face-front {
    border-radius: .8rem .8rem 0 0;
}

.flip-group .flip-clock .digit::before,
.flip-group .flip-clock .digit .card-face.card-face-back {
    border-radius: 0 0 .8rem .8rem;
}

.flip-group .flip-clock .digit .divider .divider-line {
    width: 100%;
    height: 100%;
    background-color: var(--black);
}