.container-cron .timer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(20rem, 50vw, 35rem);
    height: clamp(20rem, 50vw, 35rem);
    border-radius: 50%;
    border: .7rem solid var(--black-transparent);
    margin-bottom: 2%;
    color: var(--white);
}

.container-cron .timer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: .7rem solid var(--black-transparent);
    border-left: .7rem solid var(--orange);
}

.container-cron .timer.animando::after {
    animation: loading 2s linear infinite;
}

.container-cron .timer.animando.paused::after {
    animation-play-state: paused;
}

.container-cron .timer p {
    font-size: clamp(3rem, 9vw, 7rem);
}

.container-cron .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-cron .actions div[data-type="play"] {
    margin: 0 3%;
}

.container-cron .actions .btn-circle.orange {
    background-color: var(--orange);
    color: var(--white);
}


/*KEYFRAMES*/

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}