@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --black: rgb(0, 0, 0);
    --black-medium: #272727;
    --black-light: #2A2A2A;
    --black-transparent: rgba(0, 0, 0, 0.1);
    --white: #FAFAFA;
    --orange: #F55E15;
    --red: rgba(232, 63, 91, 1);
    --grey: #3f3d3d;
    --grey-light: rgba(229, 234, 241, 1);
    --backgroud: rgb(224, 218, 218);
    --background-content: #222;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroud);
}


/*GENERALIST CLASS*/

.btn-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--orange);
    border-radius: 50%;
    cursor: pointer;
}

.button:hover {
    background-color: var(--orange);
    color: var(--black);
}


/*MAIN - CONTAINER*/

main {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--orange);
}


/*MENU*/

main nav {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 24px 0 0 24px;
}

main nav .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main nav .menu li {
    cursor: pointer;
}

main nav .menu .menu-item img {
    width: clamp(3.5rem, 5vw, 5rem);
    height: clamp(3.5rem, 5vw, 5rem);
}

main nav .menu-item:not(:last-child) {
    margin-bottom: 3.5rem;
}


/*CONTENT*/

main .content {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-content);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/*MEDIA QUERIES*/

@media (min-width:1024px) {
    .content .container-calc .view-calc .resultado .valor {
        height: clamp(5.5rem, 25vw, 12rem);
        font-size: clamp(5.5rem, 25vw, 12rem);
    }
    .content .container-calc .view-calc .resultado .operacao-atual {
        height: clamp(2.5rem, 10vw, 8rem);
        font-size: clamp(2.5rem, 10vw, 8rem);
    }
}

@media (max-width:651px) {
    main {
        align-items: flex-start;
    }
    main nav {
        position: absolute;
        width: 100%;
        height: 10%;
        bottom: 0;
    }
    main nav .menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    main nav .menu-item:not(:last-child) {
        margin-bottom: 0;
    }
    main .content {
        margin-top: 0;
        width: 100%;
        height: 90%;
    }
    main .content .container-calc {
        border-bottom: .1rem solid var(--black-light);
    }
}